extends layout
block content
    header
        nav(class="navbar navbar-default")
            div(class="container")
                div(class="navbar-header")
                    a(class="navbar-brand" href="/")
                        h1 NextPat
            ul(class="nav navbar-nav navbar-right")
                li
                    a(href="/") Home
                li
                    a(href="/questionnaire") Questionnaire
                li
                    a(href="/about") About
                li
                    a(href="/help") Help
                li
                    a(href="/signUp") Sign up
                li
                    a(href="/login") Login
    #main
        <!-- ng-view will display injected content -->
        div(ng-view)