extends layout
block content
    md-toolbar.md-background(flex layout-fill layout="row" layout-align="center end" ng-controller="navCtrl")
        //div(class="container")
        //    div(class="navbar-header")
        //        a(class="navbar-brand" href="/")
        //            h1 NextPat
        //md-content(flex layout = "column")
        //.md-toolbar-tools
        div(flex layout="column")
            h1 NextPat
            span(flex)
            div(layout="row" layout-align="center center")
                .md-button.md-primary.md-hue-1.md-raised(flex) Home
                    a(href="/")
                .md-button.md-primary.md-hue-1.md-raised(flex) Questionnaire
                    a(href="/questionnaire")
                .md-button.md-primary.md-hue-1.md-raised(flex) About
                    a(href="/about")
                .md-button.md-primary.md-hue-1.md-raised(flex) Help
                    a(href="/help")
                .md-button.md-primary.md-hue-1.md-raised(flex) Sign up
                    a(href="/signUp")
                .md-button.md-primary.md-hue-1.md-raised(flex) Sign in
                    a(href="/login")
                .md-button.md-primary.md-hue-1.md-raised(flex) Sign out
                    a(ng-click="logout()")

    #main(layout="column" layout-align="center center")
        <!-- ng-view will display injected content -->
        div(ng-view)