extends layout
block content
    md-content(layout="column" layout-fill)
        md-toolbar.md-primary.md-whiteframe-z1(ng-controller="navCtrl" layout-padding)
            //div(class="container")
            //    div(class="navbar-header")
            //        a(class="navbar-brand" href="/")
            //            h1 NextPat
            //md-content(flex layout = "column")
            //.md-toolbar-tools
            //span(flex)
            div(layout="column" flex)
                #navBar(layout="row" layout-align="start end")
                    h1#NextPatTitle.md-display-4() NextPat
                    div(layout="column" layout-align= "end start")
                        h2#subtitle.md-headline() A Wanderer's Friend
                    span(flex)
                    h1#loggedInUser.md-subhead(ng-show="user.username") {{user.username}}
                //span(flex) SPAN
                //div(layout="row" )
                div(layout="row" flex layout-align="space-around center" layout-align-md="start center" layout-wrap)
                    a(href="/")
                        .md-button(flex) Home
                    a(href="/questionnaire")
                        .md-button(flex) Questionnaire
                    a(href="/about")
                        .md-button(flex) About
                    a(href="/help")
                        .md-button(flex) Help
                    //a(href="/signUp" ng-hide="user.username")
                    //    .md-button(flex) Sign up
                    //a(href="/login" ng-hide="user.username")
                    //    .md-button(flex) Sign in
                    a(ng-click="logout()" ng-show="user.username")
                        .md-button(flex) Sign out
        //span(flex="30")
        span(flex)
        #main(layout="column" layout-align="center center" layout-padding)
            <!-- ng-view will display injected content -->
            div(ng-view)
        span(flex)