extends layout
block content
    md-content(layout="column" layout-fill)
        md-toolbar#toolBar.md-primary.md-whiteframe-z1(ng-controller="navCtrl" layout-padding)
            div(layout="column" flex)
                #navBar(layout="row" layout-align="start end")
                    h1#NextPatTitle.md-display-4() NextPat
                    div(layout="column" layout-align= "end start")
                        h2#subtitle.md-headline() A Wanderer's Friend
                    span(flex)
                    h1#loggedInUser.md-subhead(ng-show="user.username") Hello, {{user.username}}!
                div(layout="row" flex layout-align="space-around center" layout-align-md="start center" layout-wrap)
                    a(href="/")
                        md-button(flex) Home
                    a(href="/questionnaire")
                        md-button(flex) Match Me
                    a(href="/about")
                        md-button(flex) About
                    a(href="/help")
                        md-button(flex) Help
                    a(ng-click="logout()" ng-show="user.username")
                        md-button(flex) Sign out
        span(flex)
        #main(layout="column" layout-align="center center" layout-padding)
            <!-- ng-view will display injected content -->
            div(ng-view)
        span(flex)