extends layout
block content
    //md-toolbar.md-primary.md-whiteframe-z1(md-scroll-shrink)
    //    md-content(layout="column"  layout-align="start center" class="md-toolbar-tools md-toolbar-tools-bottom")
    //        md-button(flex layout-fill) home
    //        md-button(flex layout-fill) users
    //        md-button(flex layout-fill) login

    md-toolbar.md-primary.md-whiteframe-z1(layout="row" layout-align="center end" ng-controller="navCtrl")
        //div(class="container")
        //    div(class="navbar-header")
        //        a(class="navbar-brand" href="/")
        //            h1 NextPat
        //md-content(flex layout = "column")
        //.md-toolbar-tools
        div(layout="column")
            h1(layout-align="left") NextPat
            span(flex)
            div(layout="row" layout-align="center center")

                a(href="/" layout-fill)
                    .md-button(flex) Home
                a(href="/questionnaire")
                    .md-button(flex) Questionnaire
                a(href="/about")
                    .md-button(flex) About
                a(href="/help")
                    .md-button(flex) Help
                a(href="/signUp")
                    .md-button(flex) Sign up
                a(href="/login")
                    .md-button(flex) Sign in
                a(ng-click="logout()")
                    .md-button(flex) Sign out


    #main(layout="column" layout-align="center center")
        <!-- ng-view will display injected content -->
        div(ng-view)