doctype html
html(ng-app="NextPat")
  head
    title NextPat
    //link(rel='stylesheet', href='/vendors/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href="/stylesheets/angular-material/angular-material.min.css")
    link(rel='stylesheet', href="/stylesheets/style.css")
    script(type="text/javascript" src="/vendors/angular/angular.min.js")
    script(type="text/javascript" src="/vendors/angular-aria/angular-aria.min.js")
    script(type="text/javascript" src="/vendors/angular-animate/angular-animate.min.js")
    script(type="text/javascript" src="/vendors/angular-material/angular-material.min.js")
    script(type="text/javascript" src="/vendors/angular-route/angular-route.min.js")
    script(type="text/javascript" src="/vendors/angular-messages/angular-messages.min.js")
    script(type="text/javascript" src="/vendors/angular-validation-match/dist/angular-validation-match.min.js")
    //script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js")
    script(type="text/javascript" src="/javascripts/app.min.js")
    base(href="/")
  body(layout = "column")
    block content

