div(layout="row" layout-padding layout-align="center center")
    //md-toolbar(flex flex-offset="20")
    //    h1.md-display-1 About NextPat
    md-content(layout-padding layout-margin layout-fill)

        h1.md-display-2(layout-padding) Labor Definitions (from CIA World Factbook):
        md-list
            md-list-item
                .md-list-item-text Agriculture: farming, fishing, and forestry
            md-list-item
                .md-list-item-text Industry: mining, manufacturing, energy production, and construction
            md-list-item
                .md-list-item-text Services: government activities, communications, transportation, finance, and all other economic activities that do not produce material goods

        a.md-display-1(href="mailto:benhunt29@gmail.com")
            md-button.md-raised.md-primary.md-hue-2 Contact us by email!

