div(layout="row" layout-padding layout-align="center center")
    //md-toolbar(flex flex-offset="20")
    //    h1.md-display-1 About NextPat
    md-content(layout-padding layout-margin layout-fill)
        p NextPat is designed for those considering living abroad. Countries will be recommended based on the user's answers to a questionnaire. Further resources are then given.