
div Further Resources
   a(ng-href="http://www.nationmaster.com/country-info/profiles/{{countryName}}") {{countryName}}
   a(href="http://www.transitionsabroad.com/") Transitions Abroad
   a(href="http://internationalliving.com/") International Living
   a(href="http://www.expatinfodesk.com/") Expat Info Desk
   a(href="http://www.numbeo.com/cost-of-living/") Cost of Living List
   a(hret="http://www.numbeo.com/quality-of-life/rankings_by_country.jsp?title=2015-mid&region=150)") Quality of Life
