div Further Resources
   a(href="http://www.nationmaster.com/country-info/profiles/Belgium")
   a(href="http://www.transitionsabroad.com/")
   a(href="http://internationalliving.com/")
   a(href="http://www.expatinfodesk.com/")
   a(href="http://internationalliving.com/")
   a(href="http://www.numbeo.com/cost-of-living/")
   a(hret="http://www.numbeo.com/quality-of-life/rankings_by_country.jsp?title=2015-mid&region=150)")