div(layout-margin layout-padding layout-align = "center center" layout="column")
   #countryHeader(layout="row" layout-sm="row" layout-align="space-around center" flex layout-fill)
      h1.md-display-4 {{countryName}}
      img#flag(ng-src="{{flagUrl}}" alt="")

   md-content(layout-padding layout-margin layout-fill layout-align="center start" layout="row")
      md-list
         md-list-item.md-3-line(ng-repeat="statistic in worldBankData.column1" flex )
            .md-list-item-text(layout="column")
               h3 {{statistic.indicator}}
               h4 Year: {{statistic.year}}
               p Value: {{statistic.value}}
      md-list
         md-list-item.md-3-line(ng-repeat="statistic in worldBankData.column2" flex )
            .md-list-item-text(layout="column")
               h3 {{statistic.indicator}}
               h4 Year: {{statistic.year}}
               p Value: {{statistic.value}}

div(layout="row")
   a(ng-href="http://www.nationmaster.com/country-info/profiles/{{countryName}}")
      md-button.md-primary.md-raised.md-hue-1(flex) NationMaster
   a(href="http://www.transitionsabroad.com/")
      md-button.md-primary.md-raised.md-hue-1(flex) Transitions Abroad
   a(href="http://internationalliving.com/")
      md-button.md-primary.md-raised.md-hue-1(flex) International Living
   a(href="http://www.expatinfodesk.com/")
      md-button.md-primary.md-raised.md-hue-1(flex) Expat Info Desk
   a(href="http://www.numbeo.com/cost-of-living/")
      md-button.md-primary.md-raised.md-hue-1(flex) Cost of Living List
   a(href="http://www.numbeo.com/quality-of-life/rankings_by_country.jsp?title=2015-mid&region=150")
      md-button.md-primary.md-raised.md-hue-1(flex) Quality of Life

