div(layout-margin layout-padding layout-align = "center center")
   div(layout="row" layout-sm="column" layout-align="center center")
      h1.md-display-3 {{countryName}}
md-content(layout-padding layout-margin layout-fill layout-align="center center" layout="column")
   h1.md-display-2(layout-padding) Recommended Countries
   md-list
      md-list-item(ng-repeat="statistic in worldBankData" flex )
         p {{statistic.indicator}}
         p {{statistic.year}}
         p {{statistic.value}}

div Further Resources
   a(ng-href="http://www.nationmaster.com/country-info/profiles/{{countryName}}") {{countryName}}
   a(href="http://www.transitionsabroad.com/") Transitions Abroad
   a(href="http://internationalliving.com/") International Living
   a(href="http://www.expatinfodesk.com/") Expat Info Desk
   a(href="http://www.numbeo.com/cost-of-living/") Cost of Living List
   a(hret="http://www.numbeo.com/quality-of-life/rankings_by_country.jsp?title=2015-mid&region=150)") Quality of Life
