div(layout="column" layout-align="center center")
    h1.md-display-3 Help Page
    p.md-subhead {{message}}

div(layout="column" layout-align="center center")
    img.col-md-4.col-md-offset-4(src="http://www.reactiongifs.com/r/say-you-do-here.gif")