div(layout = "column" ng-hide="recommendations" layout-align = "center center")
    div(layout = "row" layout-align="center end" )
        h1.md-display-3(flex="80") {{question}}
    div(layout="row")
        md-button.md-accent.md-raised(ng-click='getQuestion(true)') Yes
        md-button.md-accent.md-raised(ng-click='getQuestion(false)') No