div(layout = "column" ng-hide="user.username" layout-align = "center center")
    div(layout = "row" layout-align="center end" )
        h1.md-display-3(flex="80") {{question}}
    div(layout="row" ng-show="showButtons" layout-align="space-around end" layout-fill)
        md-button.homePageButtons.md-accent.md-accent.md-hue-3(ng-click='getQuestion(true)') Yep!
        md-button.homePageButtons.md-accent.md-accent.md-hue-3(ng-click='getQuestion(false)') Nope!

md-content(layout-padding layout-margin layout-fill layout-align="center center" layout="column" ng-show="recommendations")
    h1.md-display-2(layout-padding) Matched Countries
    md-list
        md-list-item(ng-repeat="country in recommendations" flex )
            .md-button.md-primary(flex ng-click="setCountryPage(country)" name="country.countryName") {{country.countryName}}