form(name="login" ng-submit="signIn()" novalidate)
   md-input-container(flex)
      label Username
      input(type="text" name="username" ng-model="form.userName" required ng-minlength="1")
   md-input-container(flex)
      label Password
      input(type="password" name="password" ng-model="form.password" required ng-minlength="1")
   div(layout="row" layout-sm="column" layout-align="center center")
      input.md-button.md-primary.md-raised(type="submit" layout-fill value="login" ng-disabled="login.$invalid")
   div {{mdToast}}

   a(href="/api/login/auth/google" target="_self")
      #googleSignIn